/* full disclosure, I had to google a lot of code to figure this out, so did take snippets from the web
 However, I still had to figure out had to make it work for me and fix together in a logical manner*/
@font-face {
  font-family: 'apple';
  src: url('../SF-Compact/SFCompactDisplay-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'applebold';
  src: url('../SF-Compact/SFCompactDisplay-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

/* general header and text styling regardless of what device you are on  */
p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: apple;
  text-align: left;
}

a {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: apple;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 35px;
}

h2 {
  font-family: applebold;
  font-size: 18px;
}

/*            MOBILE view - iPhone, iPad is the default view , this changes the images
              for mobile view and removes the parallax scrolling effect, as mobile doesn't
              usually support it. it also changes the grid, by using rows instead
              of columns and changes the border line to the bottom instead of the right
                        */
/* _____________________________________________________________________ */
.bcg-img-1 {
  background: url("media/img1_mobile.png");
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bcg-img-2 {
  background: url("media/img2_dataprocess.png");
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bcg-img-3 {
  background: url("media/img3.png");
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-container {
  display: block;
  width: 100vw;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-item {
  font-family: apple;
  border-bottom: 1px solid #ddd;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(190, 190, 190);
  height: 150px;
  text-align: center;
}

#last {
  border: 0px;
}

.txt-1, .txt-2, .txt-3, .txt-4 {
  min-height: 400px;
  background-color: rgb(220, 220, 220);
  padding-top: 50px;
}

#myVideo {
  display: none;
}

#mobilevid {
  width: 100vw;
}

/* ------------------------------------------------------------ */
/*  full website - this styling only takes effect when screen width is larger than 800 pixels.
800 pixels because usally most phones are smaller than that. */
@media only screen and (min-width: 800px) {

  /* the textbox grid to show i know how to use the grid */
  .grid-container {
    display: inline-grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-item {
    font-family: apple;
    border-right: 1px solid #ddd;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(190, 190, 190);
    height: 200px;
    text-align: center;
  }

  #last {
    border: 0px;
  }

  /* formatting for background images and textboxes  */
  .bcg-img-1 {
    background: url("media/img1.png");
    min-height: 500px;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bcg-img-2 {
    background: url("media/img2_dataprocess.png");
    min-height: 500px;
    min-width: 400px;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bcg-img-3 {
    background: url("media/img3.png");
    min-height: 500px;
    min-width: 400px;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .txt-1, .txt-2, .txt-3, .txt-4 {
    min-height: 400px;
    background-color: rgb(220, 220, 220);
    padding-top: 50px;
  }

  /* formatting for the video at the bottom */
  #myVideo {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  #mobilevid {
    display: none;
  }
}
